<div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="text-center">Short Description <small> and Usage</small></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                <b>Missingzone.Pk</b> The Purpose Of This Platform Is Help To Find The Missing People Of Pakistan.
                <br/><br/>
                If You lost your <code><b>brother, sister etc..</b></code>
                So You Can Easily Find Them In Our Platform If U Can Help Missed Person So You Also
                Include Them Information On Our Platform To Help Them. <br>
                ThankYou.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="text-center">Basic Requirement</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                Here is the list Required To Register Any Missed Person in <b>Missingzone.PK</b>
            </p>
            <br>
            <ul>
                <li>Photo Of The Person</li>
                <li>His Full Name</li>
                <li>A physical description, including height, weight, age, hair color, eye color, build, etc</li>
                <li>A description of the clothing and shoes the person was last seen wearing</li>
                <li>A list of possessions the person might be carrying, such as jewelry, glasses, contact lenses, accessories</li>
            </ul>
        </div>
    </div>
</div>
